<launch>

    <node pkg="image_proc" type="image_proc"
      ns="usb_cam"
      name="image_proc">
    </node>

    <node pkg="nodelet" type="nodelet"
        args="standalone image_proc/crop_decimate"
        name="my_decimator">
        <!-- w: 538, h: 336 after rectification -->
        <param name="x_offset" type="int" value="72" />
        <param name="y_offset" type="int" value="24" />
        <param name="width" type="int" value="384" />
        <param name="height" type="int" value="288" />

        <!-- remap input topics -->
        <remap from="camera/camera_info" to="camera/color/camera_info"/>
        <remap from="camera/image_raw" to="camera/color/image_raw"/>


        <!-- remap output topics -->
        <remap from="camera_out/image_raw" to="camera_crop/image_rect_color"/>
        <remap from="camera_out/camera_info" to="camera_crop/camera_info"/>
    </node>

</launch>
